.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffdfd;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  h3 {
    font-size: 24px;
    margin-top: 30px;
  }

  h5 {
    display: inline-block;
    margin-right: 70px;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(162, 162, 165);
  }
  
  th {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 6, 6);
  }
  
  button {
    background-color: rgb(62, 125, 214);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  form {
    margin-top: 30px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d6cece;
  }
  